<div class="container">
  <div class="row animated fadeIn fast" *ngIf="indice == -1">
    <div class="col col-md-12">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col text-center">
            <img src="../../../assets/img/heroe-no-disponible.png" alt="heroe-no-disponible" height="500px">
          </div>
          <div class="col">
            <h1 class="text-center text-danger font-weight-bold">Valla, parece que no hemos encontrado resultados para</h1>
            <h1 class="text-center text-info font-weight-bold">{{nombreh}}</h1>
            <p class="text-danger text-center">Esta página te redireccionará automaticamente</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-heroe *ngIf="indice != -1" [heroe]="miheroe"></app-heroe>
    </div>
  </div>
</div>
