<div class="container">
  <div class="row">
    <div class="col">
      <h1>About Comic App</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maxime
        eaque, accusantium expedita sed adipisci, aperiam doloremque vitae earum
        fuga facilis ex ea tempora aliquid distinctio nostrum aspernatur omnis
        mollitia.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rem
        illo nulla possimus, doloribus odio nisi praesentium culpa iste enim
        temporibus, asperiores aliquam, nesciunt ducimus ipsam debitis ratione.
        Corporis, culpa?
      </p>
    </div>
  </div>
</div>
