<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sobre Comic App</h1>
      <p class="text-justify">
        La definición de superhéroe es clara y concisa: Ser de ficción que posee
        unas cualidades físicas o mentales consideradas sobrehumanas o
        extraordinarias, las cuales suele emplear para hacer el bien. El primer
        superhéroe de la historia fue Superman, creado en 1938 en las páginas de
        Action Comics #1 y desde entonces le han seguido un sinfín de ellos, en
        DC y en Marvel a partir de principios de los años 60. Spiderman, Hulk,
        Wonder Woman, Aquaman, Batman, etc. ¡Todos ellos maravillas del cómic,
        el cine y la televisión!
      </p>
      <div class="text-center">
        <img src="../../../assets/img/about.png" alt="img-about" height="500px"/>
      </div>
    </div>
  </div>
</div>
