<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center text-success font-weight-bold">
        Acerca de Comic App
      </h1>
      <div class="clearfix">
        <div class="col-md-6 float-right p-3 text-center">
          <img src="assets/img/about.png" alt="img-about" class="img-fluid rounded shadow" height="500px"/>
        </div>
        <p class="text-justify">
          La definición de superhéroe es clara y concisa: Ser de ficción que
          posee unas cualidades físicas o mentales consideradas sobrehumanas o
          extraordinarias, las cuales suele emplear para hacer el bien. El
          primer superhéroe de la historia fue Superman, creado en 1938 en las
          páginas de Action Comics #1 y desde entonces le han seguido un sinfín
          de ellos, en DC y en Marvel a partir de principios de los años 60.
          Spiderman, Hulk, Wonder Woman, Aquaman, Batman, etc. ¡Todos ellos
          maravillas del cómic, el cine y la televisión!
        </p>
        <p class="text-justify">
          El cómic es un medio visual de narración verbo-icónica que comunica
          historias de uno o varios personajes. Se trata de una “narración
          secuencial mediante imágenes fijas” (Castillo, 2004: 248). Es decir,
          mediante una sucesión de imágenes (compuestas por caricaturas
          dibujadas) que se complementan con textos. Es un producto cultural que
          busca persuadir a grandes públicos y posee sus códigos propios. El
          cómic o historieta (nombre que se le da en México) es un producto
          sociolingüístico. La historieta es un sistema semiótico, que tiene una
          denotación (habla e imagen) y una connotación. La función ideológica
          de este medio ha sido poco analizada, pero el trabajo hasta ahora nos
          permite afirmar que el cómic es un aparato ideológico.
        </p>
      </div>
    </div>
  </div>
</div>
